[Unit]
Description=Sigurno ažuriranje Gramps Weba sa BCS zakrpom
Wants=network-online.target docker.service
After=network-online.target docker.service

[Service]
Type=oneshot
EnvironmentFile=-/DATA/AppData/grampsweb/grampsweb-bcs-updater/grampsweb-bcs.env
ExecStart=/DATA/AppData/grampsweb/grampsweb-bcs-updater/update-grampsweb-bcs.sh
TimeoutStartSec=30min
Nice=10
IOSchedulingClass=idle
